.i {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: currentColor;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: var( --icon-mask, url( "data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'%3e%3c/svg%3e" ) );
}

@each $name in ( arrow-right github link menu moon sun x zoom-in zoom-out ) {
  .i-#{ $name } {
    --icon-mask: url( 'lucide-static/icons/#{ $name }.svg' );
  }
}
