$font-size-base: 16px;

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 960px,
  xl: 1280px,
);

$font-sizes: (
  lg: 1.25,
);

$text-color: var( --text-color );
$background-color: var( --background-color );
$text-color-muted: var( --text-color-muted );
$link-color: var( --link-color );
$link-color-active: var( --link-color-active );
$border-color: var( --border-color );

@import "bc-css-framework/src/framework";

@import "fonts";
@import "icons";

$header-height: sp( 16 );
$footer-height: sp( 24 );

$sidebar-width: sp( 54 );

html {
  font-family: "Noto Sans", ui-sans-serif, system-ui, -apple-system, sans-serif;

  scroll-padding-top: calc( $header-height + $sp-4 );

  --text-color: #{ color( gray, 800 ) };
  --background-color: #{ $white };
  --text-color-muted: #{ color( gray, 600 ) };
  --link-color: #{ color( blue, 700 ) };
  --link-color-active: #{ color( blue, 900 ) };
  --border-color: #{ color( gray, 300 ) };
}

code, kbd, samp, pre {
  font-family: "Noto Sans Mono", ui-monospace, monospace;
}

.dark {
  --text-color: #{ color( gray, 300 ) };
  --background-color: #{ color( gray, 900 ) };
  --text-color-muted: #{ color( gray, 400 ) };
  --link-color: #{ color( blue, 300 ) };
  --link-color-active: #{ color( blue, 400 ) };
  --border-color: #{ color( gray, 700 ) };

  @include focus-ring-color( color( yellow, 300 ) );
}

@each $name, $multiplier in $font-sizes {
  .font-size-#{ $name } {
    font-size: relative-font-size( $multiplier * $font-size-base );
  }
}

.container {
  @include container( lg, xl, $padding: $sp-4 );
}

.with-sidebar .main-container {
  @include container( md, xl, $padding: $sp-4 );
}

.no-sidebar .main-container {
  @include container( md, lg, $padding: $sp-4 );
}

:focus {
  outline: none;
}

.focus-visible :focus {
  @include show-focus-ring;
}

.visually-hidden {
  @include visually-hidden;
}

.visually-hidden-focusable {
  @include visually-hidden-focusable;
}

header {
  position: sticky;
  top: 0;
  background: $background-color;
  border-bottom: 1px solid $border-color;
  z-index: 1;

  @include media-breakpoint-max( lg ) {
    position: static;
  }

  > .container, ul, h1 > a {
    display: flex;
    align-items: center;
  }

  > .container {
    height: $header-height;

    > a.visually-hidden-focusable {
      position: absolute;
      padding: $sp-1 $sp-2;
      background: $background-color;
    }
  }

  h1 {
    margin-right: auto;
    @include text-size( xl );
    font-weight: 500;

    img {
      height: $sp-8;
      margin-right: $sp-2;
    }
  }

  nav {
    margin-right: $sp-6;

    @include media-breakpoint-max( lg ) {
      display: none;
    }

    li + li {
      margin-left: $sp-2;
    }

    a {
      padding: $sp-2;

      &:hover, &:active {
        color: $link-color-active;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
    }
  }
}

.icons {
  a, button {
    position: relative;
    display: flex;
    align-items: center;
    padding: sp( 1.5 );
    color: $text-color-muted;
    border: 1px solid $border-color;
    border-radius: $sp-2;
    @include has-tooltip;

    > i {
      width: $sp-6;
      height: $sp-6;
    }

    &:hover, &:active {
      color: $link-color-active;
      border-color: $link-color-active;
    }

    > span {
      @include tooltip;
      top: sp( 11 );
      right: -$sp-3;
      padding: $sp-1 $sp-2;
      background: $background-color;
      color: $text-color;
      border: 1px solid $border-color;
      border-radius: $sp-2;
      white-space: nowrap;
      @include text-size( sm );
      @include box-shadow( md );
    }
  }

  > li + li {
    margin-left: $sp-2;
  }

  .i-sun, .i-zoom-out {
    display: none;
  }

  .dark & {
    .i-moon {
      display: none;
    }
    .i-sun {
      display: block;
    }
  }

  .font-size-lg & {
    .i-zoom-in {
      display: none;
    }
    .i-zoom-out {
      display: block;
    }
  }
}

.navbar {
  position: sticky;
  display: none;
  top: 0;
  padding: $sp-2 $sp-4;
  background: $background-color;
  border-bottom: 1px solid $border-color;
  z-index: 1;

  @include media-breakpoint-max( lg ) {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    margin-left: auto;

    > li + li {
      margin-left: $sp-4;
    }

    a {
      &:hover, &:active {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
    }
  }

  > button {
    display: flex;
    align-items: center;

    .no-sidebar & {
      display: none;
    }

    > .i {
      width: $sp-5;
      height: $sp-5;
      margin-right: $sp-2;
    }
  }

  a, button {
    &:hover, &:active {
      color: $link-color-active;
    }
  }
}

.main-container {
  display: flex;
  min-height: calc( 100vh - $header-height - $footer-height - 2px );
}

.sidebar {
  position: sticky;
  top: calc( $header-height + 1px );
  flex: $sidebar-width 0 0;
  max-height: calc( 100vh - $header-height - 1px );
  overflow-x: hidden;
  overflow-y: auto;

  @include media-breakpoint-max( lg ) {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: none;
    background: #00000088;
    z-index: 9;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  .sidebar-open & {
    @include media-breakpoint-max( lg ) {
      display: block;
    }
  }

  .sidebar-fade & {
    @include media-breakpoint-max( lg ) {
      opacity: 1;
    }
  }

  nav {
    padding: $sp-8 $sp-8 $sp-8 $sp-1;

    @include media-breakpoint-max( lg ) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: $sidebar-width;
      max-height: none;
      padding: $sp-2 $sp-4 $sp-4;
      background: $background-color;
      overflow-y: auto;
      z-index: 10;
      transform: translate( -$sidebar-width, 0 );
      transition: transform 200ms ease-in-out;
    }

    .sidebar-fade & {
      @include media-breakpoint-max( lg ) {
        transform: none;
      }
    }

    > button {
      display: none;
      align-items: center;
      margin-bottom: $sp-4;

      @include media-breakpoint-max( lg ) {
        display: flex;
      }

      &:hover, &:active {
        color: $link-color-active;
      }

      > .i {
        width: $sp-5;
        height: $sp-5;
        margin-right: $sp-2;
      }
    }

    > h2 {
      padding: $sp-1 0;
      @include text-size( lg );
      font-weight: 500;
    }

    > ul > li > ul > li {
      padding-left: $sp-4;
      border-left: 2px solid $border-color;
      @include text-size( sm );

      &.is-active {
        border-color: $link-color;
      }
    }
  }

  a {
    display: block;
    padding: $sp-1 0;

    &:hover, &:active {
      color: $link-color-active;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
  }

  .is-active > a {
    color: $link-color-active;
  }
}

.sidebar-open {
  overflow: hidden;
}

main {
  width: 100%;
  padding: $sp-8 0 $sp-16 0;
  overflow-x: auto;

  .with-sidebar & {
    padding-left: $sp-8;
    padding-right: calc( $sidebar-width + $sp-8 );

    @include media-breakpoint-max( xl ) {
      padding-right: 0;
    }

    @include media-breakpoint-max( lg ) {
      padding-left: 0;
    }
  }
}

.hero {
  position: relative;
  margin: $sp-16 0 sp( 24 );

  img {
    position: absolute;
    right: 0;
    width: sp( 64 );
  }

  h2 {
    margin-bottom: $sp-4;
    @include text-size( 4xl );
    font-weight: bold;
  }

  p {
    width: 50%;
  }

  h2 + p {
    margin-bottom: $sp-4;
    @include text-size( 3xl );
    font-weight: bold;
  }

  p + p {
    margin-bottom: $sp-6;
    @include text-size( xl );
  }

  @include media-breakpoint-max( lg ) {
    margin: $sp-8 0 $sp-16;

    img {
      width: sp( 48 );
    }

    p {
      width: 70%;
    }

    h2 {
      @include text-size( 3xl );
    }

    h2 + p {
      @include text-size( 2xl );
    }

    p + p {
      @include text-size( lg );
    }
  }

  @include media-breakpoint-max( md ) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $sp-4 0 $sp-12;

    img {
      position: static;
      width: sp( 24 );
      margin: 0 0 $sp-4;
    }

    p {
      text-align: center;
      width: 80%;
    }

    h2 + p {
      @include text-size( xl );
    }

    p + p {
      @include text-size( base );
    }
  }

  ul {
    display: flex;

    a {
      display: flex;
      align-items: center;
      padding: $sp-3 $sp-4;
      border-radius: $sp-6;
      background: color( gray, 200 );

      > .i {
        width: $sp-5;
        height: $sp-5;
        margin-left: $sp-2;
      }

      &:hover, &:active {
        background: color( gray, 300 );
      }

      .dark & {
        color: $white;
        background: color( gray, 700 );

        &:hover, &:active {
          background: color( gray, 800 );
        }
      }
    }

    > li:first-child a {
      background: $link-color;
      color: $white;

      &:hover, &:active {
        background: $link-color-active;
      }

      .dark & {
        background: color( blue, 800 );

        &:hover, &:active {
          background: color( blue, 900 );
        }
      }
    }

    > li + li {
      margin-left: $sp-4;
    }
  }
}

.content {
  @include prose;

  a {
    color: $link-color;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    font-weight: 500;

    &:hover, &:active {
      color: $link-color-active;
    }
  }

  a[target=_blank]:after {
    content: "";
    padding: 0 sp( 1.75 );
    margin-left: sp( 0.5 );
    background: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url( 'lucide-static/icons/external-link.svg' );
  }

  .anchor {
    text-decoration: none;
    opacity: 0;
    transition: opacity 100ms ease-in-out;

    > .i {
      width: $sp-5;
      height: $sp-5;
    }
  }

  :hover .anchor, .anchor:focus {
    opacity: 1;
  }

  pre {
    overflow-x: auto;
    max-width: 100%;
    padding: $sp-3 $sp-4;
    background: color( gray, 100 );
    border-radius: $sp-2;
    @include text-size( sm );

    .dark & {
      background: $black;
    }

    .focus-visible &:focus {
      @include focus-ring-inset;
    }
  }

  .table-wrapper {
    margin: $sp-6 0;
    overflow-x: auto;
  }

  table {
    min-width: 100%;

    td, th {
      border: 1px solid $border-color;
      padding: $sp-1 $sp-2;
      vertical-align: top;
    }
  }

  @include media-breakpoint-max( md ) {
    h2 {
      @include text-size( 3xl );
    }

    h3 {
      @include text-size( 2xl );
    }

    h4 {
      @include text-size( xl );
    }
  }
}

.alert {
  padding: $sp-4 $sp-5;
  background: color( gray, 200 );
  border-radius: $sp-2;

  &.is-tip {
    background: color( blue, 100 );
  }
  &.is-warning {
    background: color( yellow, 100 );
  }
  &.is-danger {
    background: color( red, 100 );
  }

  .dark & {
    background: color( gray, 800 );

    &.is-tip {
      background: color( blue, 900 );
    }
    &.is-warning {
      background: color( yellow, 900 );
    }
    &.is-danger {
      background: color( red, 900 );
    }
  }

  &__title {
    font-weight: bold;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.shiki span {
  color: var( --shiki-light );

  .dark & {
    color: var( --shiki-dark );
  }
}

.pager {
  display: flex;
  margin-top: $sp-16;

  @include media-breakpoint-max( sm ) {
    flex-direction: column;
    margin-top: $sp-8;
  }

  > a {
    display: flex;
    flex-direction: column;
    width: calc( 50% - $sp-2 );
    padding: $sp-2 $sp-4;
    color: $link-color;
    border: 1px solid $border-color;
    border-radius: $sp-2;
    @include has-tooltip;

    @include media-breakpoint-max( sm ) {
      width: 100%;
    }

    &:hover, &:active {
      color: $link-color-active;
      border-color: $link-color-active;
    }

    > span:first-child {
      color: $text-color-muted;
      @include text-size( sm );
    }
  }

  .is-next {
    align-items: flex-end;
  }

  > a + a {
    margin-left: $sp-4;

    @include media-breakpoint-max( sm ) {
      margin-left: 0;
      margin-top: $sp-4;
    }
  }

  .is-next:first-child {
    margin-left: auto;

    @include media-breakpoint-max( sm ) {
      margin-left: 0;
    }
  }
}

footer {
  border-top: 1px solid $border-color;

  > .container {
    height: $footer-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-color-muted;
    @include text-size( sm );
  }
}
